<!doctype html>
<html>
	<head>
		<title>MyPage</title>
		<link rel="stylesheet" type="text/css" href="../../static/userdash.css">
	</head>
	<body>
		<div id="pageWrapper">
			<header>
				<nav>
					<ul>
						<li id="title"><a href="#">iLibrary</a></li>
						<ul>
							<li><a href="../signin.html">Sign Out</a></li>
						</ul>
					</ul>
				</nav>
				<form id="search">
					<input type="search" name="search" placeholder="Search books" id="search">
					<input type="submit" name="submit" placeholder="Search" id="searchbtn">
				</form>
				<nav class="usernav">
					<ul>
						<li id="title"><a href="#">All Books</a></li>
						<li id="title"><a href="#">My Books</a></li>
					</ul>
				</nav>
			</header>
			<section id="pageContent">
				<table class="results">
					<tr>
						<th>Category</th><th>Title</th><th>Author(s)</th><th>Status</th><th>Available</th><th>Action</th>
					</tr> 
					<tr>
						<td>Science Fiction</td><td>Digital Fortress</td><td>Dan Brown</td><td>None</td><td>Yes</td><td>Borrow</td>
					</tr>
					<tr>
						<td>Science Fiction</td><td>Digital Fortress</td><td>Dan Brown</td><td>None</td><td>Yes</td><td>Borrow</td>
					</tr>
					<tr>
						<td>Science Fiction</td><td>Digital Fortress</td><td>Dan Brown</td><td>None</td><td>Yes</td><td>Borrow</td>
					</tr>
				</table>
			</section>
			<footer>
			</footer>
		</div>		
	</body>
</html>