<!doctype html>
<html>
	<head>
		<title>MyPage</title>
		<link rel="stylesheet" type="text/css" href="../../static/userdash.css">
	</head>
	<body>
		<div id="pageWrapper">
			<header>
				<nav>
					<ul>
						<li id="title"><a href="#">iLibrary</a></li>
						<ul>
							<li><a href="../signin.html">Sign Out</a></li>
						</ul>
					</ul>
				</nav>
				<form id="search">
					<input type="search" name="search" placeholder="Search books" id="search">
					<input type="submit" name="submit" placeholder="Search" id="searchbtn">
				</form>
				<nav class="usernav">
					<ul>
						<li id="title"><a href="#">All Books</a></li>
						<li id="title"><a href="#">Add Book</a></li>
						<li id="title"><a href="#">Book Categories</a></li>
					</ul>
				</nav>
			</header>
			<section id="pageContent">
				<table class="results">
					<tr>
						<th>Category</th><th>Title</th><th>ISBN</th><th>Author(s)</th><th>Acquired Date</th><th>Status</th><th>Available</th><th>Action</th><th>Delete</th>
					</tr> 
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
					<tr>
						<td>Category</td><td>Title</td><td>ISBN</td><td>Author(s)</td><td>Acquired Date</td><td>Status</td><td>Available</td><td>Action</td><td>Delete</td>
					</tr>
				</table>
			</section>
			<footer>
			</footer>
		</div>		
	</body>
</html>