<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>{% block title %}{%endblock%} - Library Application</title>
	{% endblock %}
</head>
<body>
	<div id="pageWrapper">
		<header class="consistentheader">
			<!-- App title -->
		</header>
		<section id="content">
			<!-- Specific content on specific user and page -->
			{%block pagecontent%}{% endblock %}
		</section>
		<nav id"navigation">
			<!-- Navigation links for specific pages -->
			{%block navdata%}{% endblock %}
		</nav>
	</div> 
	<footer>
		&copy; Copyright 2016 by <span>Mbarak Mbigo</span>
	</footer>
</body>
</html>