<!doctype html>
<html>
	<head>
		<title>MyPage</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<div id="pageWrapper">
			<header>
				<nav>
					<ul>
						<li id="title"><a href="#">iLibrary</a></li>
					</ul>
				</nav>
			</header>
			<section id="pageContent">
				<form id="signup">
					<input type="text" name="names" placeholder="Enter your Name(s)" required> <br>
					<input type="email" name="useremail" placeholder="Enter Email" required><br>
					<input type="password" name="password" placeholder="Enter Password" required><br>
					<input type="password" name="password" placeholder="Re-enter Password" required><br>
					<input type="submit" name="signup" value="Sign Up">
				</form>
			</section>
			<footer>
			</footer>
		</div>		
	</body>
</html>