<!doctype html>
<html>
	<head>
		<title>MyPage</title>
		<link rel="stylesheet" type="text/css" href="../static/signin.css">

	</head>
	<body>
		<div id="pageWrapper">
			<header>
				<nav>
					<ul>
						<li id="title"><a href="#">iLibrary</a></li>
					</ul>
				</nav>
			</header>
			<section id="pageContent">
				<form method="POST" action='auth'>
				<fieldset>
					<input type="text" name="username" id="username" placeholder="username" required> <br>
					<input type="password" name="password" id="password" placeholder="password" required><br>
					<input type="submit" name="submit" id="signinbtn" value="Sign In">
				</fieldset>
			</form>
			</section>
			<footer>
			</footer>
		</div>		
	</body>
</html>